README.md
keyd
gnome-keybindings

# Ignored files for non Linux
{{- if ne .chezmoi.os "linux" }}
.config
{{- end }}


# Ignored files for non windows
{{- if ne .chezmoi.os "windows" }}
Documents/WindowsPowershell
{{- end }}
