{{ if (and (eq .chezmoi.os "linux") (eq .isPersonalMachine true)) -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
#!/bin/bash

sudo systemctl enable keyd --now
{{-   end }}
{{- end }}
